@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&family=Mali:ital,wght@0,400;0,700;1,300&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.5;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

button {
  font-family: "Gaegu", sans-serif;
}

input {
  font-family: "Poppins", sans-serif;
}

.content {
  min-height: 100vh;
}

@media screen and (max-width: 900px) {
  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 12px;
  }
}
